<!-- not implemented <img ng-src="./mockdata/photos/{{$ctrl.people.picture}}"> -->
<!-- <input value="{{::$ctrl.people.name}}" ng-blur="$ctrl.onUpdate('name')"> -->
<input ng-model="$ctrl.name" ng-blur="$ctrl.onUpdate({name: $ctrl.name})">
<div ng-repeat="phoneNumber in $ctrl.people.phoneNumbers">
	<input ng-model="phoneNumber" ng-blur="$ctrl.onUpdate({phoneNumber: phoneNumber, index: $index})">
</div>
<div ng-repeat="addressLine in $ctrl.people.address">
	<input ng-model="addressLine" ng-blur="$ctrl.onUpdate({addressLine: addressLine, index: $index})">
</div>

