<h1>Contacts</h1>
<div ng-repeat="person in $ctrl.people" class="person-card">
    <img ng-src="./images/Provo_MS_31st/{{person.picture}}.jfif">

    <div>
        <div>{{person.name | firstName}}</div>
        <div>{{person.name | lastName}}</div>
    </div>
</div>

<!--<h1>{{$ctrl.person.surname}}</h1>
<p>{{$ctrl.people}}</p>
<img ng-src="./database/photos/{{$ctrl.person.picture}}">
<div>{{$ctrl.person.name}}</div>
<div ng-repeat="number in $ctrl.person.phoneNumbers">{{number}}</div>
<div ng-repeat="addressLine in $ctrl.person.address">{{addressLine}}</div>
<a class="edit-link" href="" ng-click="editable = !editable">Edit Information</a><br>-->
<!--<people-edit ng-if="editable" people="$ctrl.people" on-update="$ctrl.update(name, phoneNumber, addressLine, index)">
</people-edit>-->

