.edit-link {
	color: blue;
	text-decoration: underline;
}

.left-col
{
	display:inline-block;
	width:110px;
	line-height:22px;
	text-align:right;
}

.right-col
{
	display:inline-block;
	width:340px;
}

.row
{
	padding:2px 0;
}

.text-area
{
	margin-top: 7px;
	vertical-align: top;
}