<div>It's working!</div>
<!--<h1>{{$ctrl.people.surname}}</h1>
<img ng-src="./mockdata/photos/{{$ctrl.people.picture}}">
<div>{{$ctrl.people.name}}</div>
<div ng-repeat="number in $ctrl.people.phoneNumbers">{{number}}</div>
<div ng-repeat="addressLine in $ctrl.people.address">{{addressLine}}</div>
<a class="editLink" href="" ng-click="editable = !editable">Edit Information</a><br>
<people-edit ng-if="editable" people="$ctrl.people" on-update="$ctrl.update(name, phoneNumber, addressLine, index)">
</people-edit>-->

